nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 0px;
  padding: 0 5px;
}
nav li:hover {
  background-color: aquamarine;
}
nav li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
}
/* Nested Menu */

nav li .dropdown {
  display: none;
  position: absolute;
  background-color: bisque;
  padding-left: 10px;
}

nav li:hover > .dropdown {
  display: block;
}
